
body, html {
  height: 100%;
  color: #384242;
  background-color: rgb(201, 218, 218);
}

.App {
  height: 100%;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
button.ui.button {
color: #384242;
background-color: #f5f3e6;
letter-spacing: .1em;
text-transform: uppercase;
border-bottom: 2px solid #cac7bb;
border-left: 2px solid #fffdf1;
}

button.ui.button.right {
  float: right;
}

button.ui.button.left {
  float: left;
}

div.ui.centered.cards.job-cards {
  margin-top: 50px;
}

div.ui.stackable.cards.job-cards div.content {
  background-color: #f5f3e6;
}

div.ui.grid {
  margin-top: 50px;
}

#logo {
  margin: auto;
}

#nav-logo {
  width: 75px;
  height: 75px;
  float: left;
  margin-right: 75px;
}

.page-header {
  font-size: 3em;
  color: #384242;
  padding-top: 2em;
  letter-spacing: .2em;
}

.heading {
  background-color: #fff;
  overflow: auto;
  padding: 5px;
}
.nav.heading {
  box-shadow: 0px 3px 5px rgb(148, 147, 147);
}
.nav.top {
  background-color: #116b6e;
}
div.nav.top.heading button.ui.button {
  margin-top: 20px;
}

.nav.second {
  border-bottom: 2px solid white;
  background-color: #f6853f;
  padding: 10px 10px 10px 155px;
}

.nav.heading h3 {
  margin-left: 10px
}

.nav.heading .pad-top {
  padding-top: 10px;
}

#loading {
  width: 150px;
  height: 150px;
  margin: 250px auto;
  animation-name: App-logo-spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

form.ui.form {
  padding: 50px;
  margin: auto;
  max-width: 1000px;
}

#show-project {
  background-color: #f5f3e6;
  margin: 100px;
  padding: 50px;
  max-width: 1200px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgb(148, 147, 147)
}

#show-project button {
  background-color: #116b6e;
  color: #f5f3e6
}
.react-calendar-timeline .rct-horizontal-lines div.rct-hl-even {
  background-color: #f5f3e6;
}

.timeline {
  padding-top: 40px
}

.calendar-header {
  background-color:rgb(148, 147, 147)
}